$body-background: #fefefe;
$brand-primary: #999;
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$main-content-class: "book";
$img-height: 250px;
$img-fit : "cover";
$card-margin: 1rem;
$btn-color:#0072ee;
$nav-color:#202222;
$nav-background:#f8f9fa;