<div class="container">

    <div class="row">
        <h1>The Purple Factory</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <nav class="navbar navbar-light">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#card1">Bread</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card2">Chillies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card3">Tea</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card4">Croissants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card5">Noodles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card6">Omelette</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card7">Rose</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card8">Shake</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card9">Strawberries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card10">Random flower</a>
                        </li>
                    </ul>
                
            </nav>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-9">
            <!-- Start of main content div -->
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card1" class="card">
                        <img class="card-img-top" src="/public/img/bread.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Bread</p>
                            <p class="card-text">This purple bread is made from purple flour from the Purple planet</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBread">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card2" class="card">
                        <img class="card-img-top" src="/public/img/chillies.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Chillies</p>
                            <p class="card-text">These purple chillies are sweetest chillies in the entire universe.</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalChillies">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card3" class="card">
                        <img class="card-img-top" src="/public/img/coffee.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Tea</p>
                            <p class="card-text">Purple Tea helps alleviate stress and common millenial problems. </p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCoffee">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card4" class="card"   >
                        <img class="card-img-top" src="/public/img/croissants.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Croissants</p>
                            <p class="card-text">Perfect after a night full of break downs</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCroissants">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card5" class="card"   >
                        <img class="card-img-top" src="/public/img/noodles.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Noodles</p>
                            <p class="card-text">Helps managing anger</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNoodles">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card6" class="card"   >
                        <img class="card-img-top" src="/public/img/omelette.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Omelette</p>
                            <p class="card-text">Tastes as good as it looks</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOmelette">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card7" class="card"   >
                        <img class="card-img-top" src="/public/img/rose.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Rose</p>
                            <p class="card-text">Perfect for Valentine's Day</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRose">
                                Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card8" class="card"   >
                        <img class="card-img-top" src="/public/img/shake.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Shake</p>
                            <p class="card-text">That makes you shake</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalShake">
                                Details
                            </button>                        
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card9" class="card"   >
                        <img class="card-img-top" src="/public/img/strawberries.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Strawberries</p>
                            <p class="card-text">Sweeter than purple chillies</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalStrawberries">
                                Details
                            </button>                        
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="card10" class="card"   >
                        <img class="card-img-top" src="/public/img/sunflower.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Random flower</p>
                            <p class="card-text">Here's a purple alternative if you're anti-rose</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSunflower">
                                Details
                            </button>                        
                        </div>
                    </div>
                </div>
            </div>

        <!-- End of main content div -->    
        </div>

    <!-- End of row containing sidebar and main content -->
    </div>

</div>

<!-- All the modals -->

<div class="modal" id="modalBread" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Bread</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This bread is made up of purple flour only available on the Purple planet, Andromeda Galaxy. The health benefits are very promising. It is easily digested, totally sugar free, carb-free and vegan. Once you go purple, thers's no coming back!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalChillies" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Chillies</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>These are the only sweet chillies available in all our nearby galaxies. This is your safe bet, if you run out of chocolates. Goes best with milk. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalCoffee" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Tea</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Purple Tea has proven to alleviate stress, anxiety issues, nervous break downs, panic attacks and anxiety attacks, prevalent amongst the fragile group of millenials.  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalCroissants" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Croissants</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ever woke up depressed after a night full of break downs? And thought that nothing could make you happy? Well, here we bring Purple croissants to rescue. These croissants help release endorphins in your brain and leave you with a good feeling. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalNoodles" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Noodles</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Purple noodles is your getaway if you hate noodles. Ever hated noodles so much that you felt like buying it just to throw it but couldn't do it because it reminded you of the poster of starved kids? Now you can throw noodles guilt free. These noodles are useless and made only for anger management purposes. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalOmelette" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Omelette</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tastes as good as it looks which means it tastes okay. But aren't you tired of all the joints flexing about how good their omelettes are? We'll give you honesty instead. This doesn't taste great but it doesn't taste bad as well. Perfect if you're bored and just wanna stress eat. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalRose" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Rose</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>So apparently red roses weren't enough to create a nauseous environment of fake love before Valentine's so here we bring Purple Rose. Give it to the ones you love this Valentine's day because that's the only day you need to show your love. If you're single, gift it to yourself. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalShake" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Shake</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Shakes are named shakes because you can't shake if you have too many of them. But here, we were referring to shakes from earth. This purple shake, made from purple chillies activates adrenaline, increasing your energy levels so you can't help but shake.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalStrawberries" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Strawberries</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>These are sweeter than purple chillies. Best breakfast bet. Best fruit ever. Imported from best planet ever that cares about its atmosphere unlike some planets in Milky Way.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalSunflower" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Random Flower</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hate roes? But gotta gift flowers because Valentine's? Here's random flower for you. Here we deliver literally any random flower which isn't rose. Roses are too cliched and we understand your anger. Try our purple noodles to manage your anger. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



